@import "./grid/bootstrap";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "global";
@import "typography";
@import "btn";


body {
  background: $white;
}

.nav {
  background: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &__brand {
    color: $white;
    display: flex;
  }

  &__logo {
    color: $white;
  }

  &__menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: $white;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;

    &--last {
      padding-right: 0;
    }

    &:hover {
      color: $light-gray;
      text-decoration: none;
    }
  }

  &__toggler {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;    
    outline: none;
    padding: 0;
    margin: 0;

  }

  &__bars {
    color: $white;
    outline: none;
  }
}

@include media-breakpoint-down(sm) {
  .nav {
    flex-wrap: wrap;
  }

  .nav__toggler {
    display: inline-block;
  }

  .nav__menu {
    display: none;
    overflow: hidden;
    flex-direction: column;
    flex-basis: 100%;
  }

  .nav__link {
   padding: .5rem 0;
   display: inline-flex;
  }

}


.nav__menu.open {
  display: flex;
}


// nav light theme

.nav--light {
  background: $white;
}


.nav--light .nav__link {
  color: $dark-gray;
}

.nav--light .nav__logo {
  color: $dark-gray;
}

.nav--light .nav__bars {
  color: $dark-gray;
}