@import "./grid/bootstrap";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "global";
@import "typography";
@import "btn";
@import "offside";

body {
  background: $white;
}

.nav {
  background: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &__brand {
    color: $white;
    display: flex;
  }

  &__logo {
    color: $white;
  }

  &__menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: $white;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;

    &--last {
      padding-right: 0;
    }

    &:hover {
      color: $light-gray;
      text-decoration: none;
    }
  }

  &__toggler {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
  }

  &__bars {
    color: $white;
    outline: none;
  }
}

.nav__menu.open {
  display: flex;
}

// OFFSIDE
.nav-offside {
  display: flex;
  background: $white;
  padding: 1rem 0 0 2rem;

  &__menu {

    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  
  &__link {
    color: $dark-gray;
    text-transform: capitalize;
    padding: .5rem 0;
    display: flex;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}
// CUSTOM OFFSIDE CSS

.page-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.offside-js--is-open .page-overlay {
  cursor: pointer;
  visibility: visible;
  opacity: 0.8;
}

// MEDIA QUARIES

@include media-breakpoint-down(sm) {
  .nav {
    flex-wrap: wrap;
  }

  .nav__toggler {
    display: inline-block;
  }

  .nav__menu {
    display: none;
  }
}

.overflow-y {
  overflow-y: hidden;
}

// nav light theme

.nav--light {
  background: $white;
}

.nav--light .nav__link {
  color: $dark-gray;
}

.nav--light .nav__logo {
  color: $dark-gray;
}

.nav--light .nav__bars {
  color: $dark-gray;
}
